* {
     position: relative;
     box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    
    /*background-image: url("../pictures/skb2.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;*/
}

body {
    box-sizing: border-box;
    margin-top: -30px;
   
}

a{
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.wrapper{
    background: url("../pictures/skb3.jpeg") no-repeat;
    height: 100%;
    background-position: center;
    /*background-size: cover;*/
    position: relative;
    width: 100%;
    overflow: hidden;
}

.wrapper::before{
    content: "";
    position: absolute;
    /*z-index: -1;*/
    height: 100%;
    width: 100%;
    background: blue;
    opacity: .25;
    margin: 0px;
}

/*.fullBodyImage{
    background:url("../pictures/skb2.jpeg") 
    no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    height: 100vh;
    width: 100vw;
}

.fullBodyImage::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: lightblue;
    opacity: .25;
    margin: 0px;
}*/

nav{
    margin: 20px 50px;
    position: relative;
    top: 40px;
    color: #ff0000;
}

nav ul{
    margin: 0;
    padding-left: 3px;
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}


nav ul li{
    float: left;
    padding: 10px;
    font-size: 13px;
}



nav ul li a{
    color: #000000;
}

nav ul li.rite{
    float: right;
    padding: 10px;
}

nav ul li.rite input[type=submit]{
    font-size: 15px;
}

.subNav{
    text-align: center;
    color: white;
    margin: 30px;
    padding: 50px;
}

.subNav h1{
    font-size: 70px;
}

.subNav input[type=submit]{
    padding: 10px;
    width: 150px;
}

.galry{
    text-align: center;
    color: white;    
}

.galry h3{
    padding: 10px;
}

.galry img{
    width: 200px;
    height: 150px;
    margin: 0px 5px;
}

.subgalry{
    width: 100%;
    margin: 20px 0px;
}

.subgalry table{
    width: 80%;
    margin: auto;
    color: white;
}


.bottom{
    margin: 10px;
}

/*.bottom .info{
    width: 60%;
    margin: auto;
}*/

.bottom .info ul{
    float: left;
    margin: 10px 40px;
    padding: 20px;
}

.bottom .info ul li{
    list-style: none;
    color: white;
    padding: 10px;
}

li a{
    text-decoration: none;
    color: white;
}

.bottom .contact{
    margin: 0px 50px;
    float: right;
    color: #ffffff;
}


.bottom .contact input[type=text]{
    padding: 10px;
    border-radius: 3px;
    width: 300px;
}

.bottom .contact input[type=submit]{
    padding: 10px;
    width: 100px;
    
}